<a href="https://colab.research.google.com/github/sheldoncooper07/Python-Modules/blob/master/converter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import datetime

In [0]:
now=datetime.datetime.now()

In [0]:
def realtimedata(data):
    if type(data)==str:
        return now.strftime("%Y-%m-%d %H:%M:%S")
    return data

In [0]:
df=pd.read_csv("weather_data.csv",converters={"date":realtimedata})

In [6]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny